<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delicious Buds Database</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">

      <nav>
        <a href="/">Home</a>
        <a href="/buds">All Delicious Buds!</a>
        <a href="/buds/new">New Buds!</a>
      </nav>

      <%= yield %>
    </div>

  </body>
</html>
