<h1 class="pagetitles">Rock, Paper, Scissors</h1>
<h1 class="pagetitles">1,2,3 Make a choice...</h1>


<form class="rockcontainer" action="/rockps/outcome">
  <!-- <textarea type="text" name="question" placeholder="Will I die tomorrow?"> -->
  <button class="rockbuttons" type="submit" name="throw" value=rock>Rock</button>
  <button class="rockbuttons" type="submit" name="throw" value=paper>Paper</button>
  <button class="rockbuttons" type="submit" name="throw" value=scissors>Scissors</button>
</form>
