<h1>Rock, Paper, Scissors</h1>

<h2>1,2,3 Make a choice...</h2>

<form action="/rockps/outcome">
  <!-- <textarea type="text" name="question" placeholder="Will I die tomorrow?"> -->
  <button type="submit" name="throw" value=rock>Rock</button>
  <button type="submit" name="throw" value=paper>Paper</button>
  <button type="submit" name="throw" value=scissors>Scissors</button>
</form>
