<main class="home">

  <h3 class="heading">Pick Your Poison</h3>
  <div class="content">

    <a href="/magic8ball"><%= image_tag "8ball.png" %></a>
    <a href="/secret_number"><%= image_tag "secret_number.png" %></a>
    <a href="/rock_paper_scissors"><%= image_tag "rock_paper_scissors.png" %></a>
    <a href="/magic8ball">Magic 8 Ball</a>
    <a href="/secret_number">Secret Number</a>
    <a href="/rock_paper_scissors">Rock Paper Scissors</a>

  </div>

</main>
