<div class="container">
<div class='video'>
<iframe class="videoscreen" width="960" height="500" src="https://www.youtube.com/embed/tSqjjWQLil4?start=27&end=38;rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
<div id="videocover"></div>

<h1 id="sitetitle">Creepy FairGround</h1>
</div>
