/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/


body {
  font-family: "Times New Roman", serif;
  font-size: 12px;
  color: #656565;
}

#container {
  width: 950px;
  margin: 0 auto;
}


a {
  color: #23EBE4;
}

h3 {
  color: #23EBE4;
}


.foot img {
  border: 5px;
  border-style: solid;
  border-color: grey;
}
