<h1>All of the Albums</h1>

<% @albums.each do |a| %>
  <div class="box">
    <%= link_to image_tag( a.image, :class => 'thumb' ), a %>
    <p><%= a.name %></p>
    <p><%= a.band.name %></p>
  </div>
<% end %>
