
<h2>New Ocean</h2>

<form action="/oceans" method="post">

  Name: <input type="text" name="name" autofocus>
  Image: <input type="url" name="image">
  Surface Area: <input type="number" name="area">
  Average Depth: <input type="number" name="depth">

  <button>Create Ocean</button>

</form>
