

<div class="container">
<h1>SECRET NUMBER</h1>
<div class="numpad">

  <% (1..10).each do |i| %>
      <a class="num" href="/secretnumber/<%= i %>">
        <%= i %>
      </a>
  <% end %>

</div>

</div>
