
<form action='/bookinfo'>
  <h1 id= "searchheading">Enter a title.</h1><input id="formfield" type="text" name="book_title" placeholder="Type in here">

  <button id= "button">FIND IT</button>
</form>
