<h1 class="pagetitles">Ask Me Anything</h1>

<form action="/magic/fortune">
  <input class="formfields" type="text" name="question" placeholder="Will I die tomorrow?">

  <button class="buttonstyle">SHAKE THE BALL</button>
</form>
