<h2> New Ocean </h2>

<form action='/oceans' method="post">

Name: <input type="text" name="name" autofocus>
Image: <input type="url" name="image" >
Totalarea: <input type="number" name="totalarea">
Maxdepth: <input type="number" name="maxdepth" >
Shorelength: <input type="number" name="shorelength" >

<button>Create Ocean</button>
</form>
