<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feels.</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <nav>
      <a href="/log/index">All Feels</a>
      <a href="/log/new">Jot it now</a>
    </nav>

    <h1><a href="/">How does it feel.</a></h1>

    <%= yield %>

  </body>
</html>
