<Tell us. how does it feel.</h1>

<form action="/log" method="post">
  Choose a screen name: <input type="text" name="screenname" placeholder="your screen name">
  What week is it: <input type="text" name="week" placeholder="current week">
  What day is it: <input type="text" name="day" placeholder="current day">
  Type here: <input type="text" name="message" placeholder="all the feels">

  <button>ADD IT</button>
</form>
