body {
  font-family: 'Avenir', sans-serif;
  max-width: 960px;
  margin: 0 auto;
}


.thumb {
  max-width: 150px;
}

.feature {
  max-width: 400px;
}

fieldset {
  border: none;
}

label {
  display: inline-block;
  width: 120px;
  border: none;
}

input[type="submit"] {
  text-transform: uppercase;
}

nav {
  padding: 2em;
  text-align: right;
}

nav > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  padding: 20px;
}
