<h2>Which is the secret number?</h2>

<p>Click a number below...</p>

<% @numbers.each do |n|  %>
  <%= link_to "#{ n }", "/secret-number/#{ n }" %>
<% end  %>

<%= link_to "Back to all games", '/', :class => "back" %>
