@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  /*border: pink solid 1px;*/
}

html, body {
  margin: 0;
}

body {
  background-color: #eee;
  font-family: Nunito, sans-serif;
}

h1 {
  text-transform: uppercase;
  padding: 15px;
}

#images {
  max-width: 825px;
  margin: 0 auto;
  margin-top: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid-cell {
  /*border: 2px black solid;*/
}

header {
  display: block;
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 15px;
  background-color: rgba(255, 1, 10, 0.8);
}

input, button {
  font-family: Nunito, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  height: 60px;
}

button {
  padding: 15px;
}

input {
  margin: 15px;
  padding: 15px;
  width: 250px;
  border: none; /* needed border none for Chrome to take input height and padding */
}

p {
  text-align: center;
  letter-spacing: 2px;
}

.hidden {
  visibility: hidden;
}
