<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book search</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <nav>
      <a href="/">Home</a>
    </nav>

    <h1>Book title</h1>

    <%= yield %>

  </body>
</html>
