<h2>Add Crag</h2>

<main class="new">

  <form action="/crags" method="post">
    Name: <input type="text" name="name" placeholder="Enter crag name...">
    Image: <input type="url" name="image" placeholder="http://...">
    Location: <input type="text" name="location" placeholder="Location...">
    Parent Range: <input type="text" name="parent_range" placeholder="Parent Range...">
    Elevation:<input type="number" name="elevation" placeholder="Elevation...">
    Mountain Type: <input type="text" name="mountain_type" placeholder="Mountain Type...">
    <button>Add Crag</button>
  </form>

</main>
