<h2>Rock, Paper, Scissors</h2>

<p>The computer has thought about its move.</p>
<p>It's on the precipice of revealing its hand.</p>

<p>What's your move?</p>

<%= link_to "Rock", "/rps/rock" %>
<%= link_to "Paper", "/rps/paper" %>
<%= link_to "Scissors", "/rps/scissors" %>

<%= link_to "Back to all games", "/", :class => "back" %>
