<h2>new offbeat and odd film</h2>

<form action="/films" method="post">
  <input type="text" name="title" placeholder="put your title in me">
  <input type="text" name="year" placeholder="put your year in me">
  <input type="text" name="director" placeholder="put your director in me">
  <input type="text" name="genre" placeholder="put your genre in me">
  <input type="url" name="image" placeholder="put your image in me">

  <button>FILMIFY</button>
</form>
