<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>offbeat and odd films</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">

      <nav>
        <a href="/">home</a>
        <a href="/films">all films</a>
        <a href="/films/new">add a film</a>
      </nav>


      <%= yield %>

    </div>

  </body>
</html>
