<p>This is the home page</p>

<form action="/calc">
  First Number: <input type="number" name="x"= placeholder="7">
  Operator: <input type="text" name="operator" placeholder="+">
  Second Number: <input type="number" name="y"= placeholder="12">

  <button>Calculate</button>
</form>
