
<form class="" action="'/countries'" method="post">
  <input class="first country" type="text" name="name"xs value="<%= @country.name%>">
  <input class="country" type="text" name="ninja" value="<%= @country.ninja%>">
  <input class="country" type="text" name="tag" value="<%= @country.tag%>">
  <input class="links" type="text" name="image" value="<%= @country.image%>">
  <button >Update</button>


</form>
