<form class="" action="/countries" method="post">
  <input class="first country" type="text" name="name" placeholder="Name" required>
  <input class="country" type="text" name="ninja" placeholder="Ninja">
  <input class="country" type="text" name="tag" placeholder="Tag">
  <input class="links" type="text" name="image" placeholder="http://...">
  <button >Create Country</button>

</form>
