<h2>Create new Ninja</h2>
<form class="" action="/ninjas" method="post">

<input class="first" type="text" name="name" placeholder="Name" required>
<input type="text" name="birthday" placeholder="Birthday" >
<input type="text" name="country" placeholder="Country" required>
<input class="last" type="text" name="nature_type" placeholder="Nature Type">
<input class="links" type="text" name="image" placeholder="http://...">
<input class="story" type="text" name="story" placeholder="Once upon a time...">
<button >Create</button>
</form>
