/**{
  border:1px solid green;
  box-sizing: border-box;
}*/

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
main{
  display: inline-block;
  width:660px;
  text-align: justify;
  background-color: #709CA4;
  margin-left: 2em;

}

h1{
display:inline-block;
  width: 60%;
  background-color: #ccc;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 50px;
  height: 96px;
  margin-left: 1em;
  background-image: "images/images1.png"
}
nav{
  display: inline-block;
  float: right;
  width: auto;
}
aside{
  position: relative;
  display: inline-block;
  width:20%;
  /*75% + 24% is about to  100%*/
  vertical-align: top;
  background: #ccc;
  padding: 1em;
  margin-left: 10em;
  border-radius: 0.5em;
  box-shadow:0 0 15px #222;

}
img{
  width:400px;
  margin-left: 100px;
}
nav ul li{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: blue;
  text-indent: -9999em;
}

ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px;
}
ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px;
}
ul li.rss {
	background:url(../images/socialNav.png) -180px 64px;
}
ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px;
}
ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px;
}
ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px;
}

ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px;
}
iframe{
  margin-left: 50px;
}
#testPic {
  width:200px;
  margin-left: 20px;
}
.container{
  background-color: #709CA4;
}
div p {
  margin-left: 10px;
}
.game li{
  list-style-type: none;
  margin-left:-20px;
}
