
<h2>Add country to list..</h2>

<form action="/countries" method="post">

  <input type="text" name="country" placeholder="Name of country" required>
  <input type="text" name="city" placeholder="Capital city of country adding" required>
  <input type="url" name="image" placeholder="http://..." required>

  <button>Take me there!</button>

</form>
