
<h2>Add cuisine to list..</h2>

<form action="/cuisines" method="post">

  <input type="text" name="food" placeholder="Name of food" required>
  <input type="text" name="type" placeholder="Type of food" required>
  <input type="url" name="image" placeholder="http://..." required>

  <button>Add me! Yum!</button>

</form>
