<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Countries</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">
      <nav>

        <a href="/">Home</a>
        <a href="/places">Country List</a>
        <a href="/places/add">Add to List</a>
        |
        <a href="/cuisines">Cuisines</a>
        <a href="/cuisines/add">Add cuisines</a>

      </nav>

      <%= yield %>

    </div>
  </body>
</html>
