<h1 class="pageheadings">mouNTains.</h1>

<% @mountains.each do |mountain| %>
<p><%= link_to mountain.name, mountain_path(mountain.id) %> is <%= number_to_human mountain.feet %> feet tall.</p>
<% end %>
