<h1 class="pageheadings">new mouNTain.</h1>


<form action="/mountains" method="post">
  Name: <input type="text" name="name" placeholder="Mountain name" autofocus required>
  Range: <input type="text" name="range" placeholder="Location range">
  Image: <input type="url" name="image" placeholder="Image">
  Country: <input type="text" name="country" placeholder="Country">
  Feet: <input type="number" name="feet" placeholder="How many feet">

  <button>Add Mountain</button>
</form>
