<h2>All cymbals</h2>

<ul>
    <% @cymbals.each do |c| %>
      <li>
        <a href="/cymbals/<%= c['id'] %>">
          <%= c['maker'] %> <%= c['name'] %>
        </a>
      </li>
    <% end %>
</ul>

<div class="button">
  <a href="/cymbals/new">ADD YOUR OWN CYMBAL</a>
</div>
