<h2>Add a new cymbal</h2>

<form action="/cymbals" method="post">
  <input type="text" name="maker" placeholder="Maker">
  <input type="text" name="name" placeholder="Name of cymbal">
  <input type="text" name="type" placeholder="Type e.g. Crash">
  <input type="text" name="sound" placeholder="Description of sound">
  <input type="number" name="size" placeholder="Diameter in inches">
  <button>Add cymbal</button>
</form>
