<h2>Add a new cymbal</h2>

<form action="/cymbals" method="post">
  <input type="text" name="maker" placeholder="Maker" required="required">
  <input type="text" name="name" placeholder="Name of cymbal" required="required">
  <input type="text" name="type" placeholder="Type e.g. Crash" required="required">
  <input type="text" name="sound" placeholder="Description of sound">
  <input type="number" name="size" placeholder="Diameter in inches" min="4" max="30">
  <input type="url" name="video" placeholder="Youtube demo URL, e.g. https://www.youtube.com...">
  <button>Add cymbal</button>
</form>
