<h2> New Bigcat</h2>

<form action="/bigcats" method="post">
<input type="text" name="name" value="cat name">
<input type="text" name="country" value="country">
<input type="text" name="population" value="population">
<input type="url" name="image" placeholder="http://...">

<button> Add Bigcat </button>
