<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Big Cats</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="container">
          <nav>
              <a href="/">HOME</a>
              <a href="/animals">LIST OF ANIMALS</a>
              <a href="/animals/new">ADD TO THE LIST</a>
          </nav>

          <h1> Big Cats of the world </h1>

        <%= yield %>
        </div>

  </body>
</html>
