<p>this page tells you about books n thangs</p>

<form action="/bookinfo">
  book title: <input type="text" name="book_title" placeholder="put your literacy in me">
  <button>get book info</button>
</form>
