<form action="/boulders" method="post">
  <input type="text" name="name" placeholder="Boulder name...">
  <input type="text" name="grade" placeholder="Grade...">
  <input type="text" name="crag" placeholder="Crag...">
  <input type="text" name="country" placeholder="Country...">
  <input type="text" name="ascensionists" placeholder="First sent by...">
  <input type="text" name="image" placeholder="http://...">
  <button>Create Boulder</button>
</form>
