<form action="/countries" method="post">
  <input type="text" name="name" placeholder="Country name...">
  <input type="text" name="continent" placeholder="Continent...">
  <input type="text" name="capital" placeholder="Capital...">
  <input type="text" name="area" placeholder="Area...">
  <input type="text" name="population" placeholder="Population...">
  <button>Create Country</button>
</form>
