<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Boulderest Boulders</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="container">

      <nav>
        <a href="/">Home</a>
        |
        <a href="/boulders">All Boulders</a>
        <a href="/boulders/new">New Boulder</a>
        |
        <a href="/countries">All Countries</a>
        <a href="/countries/new">New Country</a>

      </nav>

      <h1>Bouldery Boulders</h1>

      <p>The hardest of hard climbs</p>

      <%= yield %>

    </div>

  </body>
</html>
