/*#cat {
  position: absolute;
  left: 0;
}*/


body {
  margin: 0;
  background-image: url('http://www.pxleyes.com/images/contests/ground%20level/fullsize/ground%20level_4c5bd54f50629_hires.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}
