<h2>New Plant page</h2>

<form action="/plants" method="post">
  <input type="text" name="name" placeholder="plant name">
  <input type="url" name="image" placeholder="http://...">

  <button>Create Plant</button>
</form>
