<h2> New animals </h2>

<form action="/animals" method="post">
  <input type="text" name="name" value="name">
  <input type="text" name="country" value="country">
  <input type="text" name="population" value="population">
  <input type="url" name="image" placeholder="http://..">

  <button> Add animal </button>
</form>
