<h2>Add another band</h2>

<form action="/bands" method="post">
  <input type="text" name="name" required="required">
  <input type="text" name="country">
  <input type="number" name="year" min="1000" max="2017">  <!-- TODO make this max current year -->
  <button>Add Band</button>
</form>
