<h1>Bands + Songs</h1>

<p>These are some bands that Maddi digs.</p>
<p>These are also bands that Maddi may hate but that make for a worthwhile coding exercise.</p>

<p>Lorem ipsum dolor amet mlkshk tempor consectetur vaporware, magna bicycle rights fingerstache labore. Dolore poke consequat vinyl meggings ea, yr nulla officia. Anim letterpress DIY occaecat. Green juice activated charcoal VHS umami chia readymade.</p>

<a href="/bands">
  <div class="button">
    See all bands
  </div>
</a>
