<h1>Bands + Songs</h1>

<p>These are some bands + songs that Maddi digs.</p>
<p>These may also be bands + songs that Maddi feels indifferent towards but that made for a worthwhile coding exercise.</p>

<p>Lorem ipsum dolor amet mlkshk tempor consectetur vaporware, magna bicycle rights fingerstache labore. Dolore poke consequat vinyl meggings ea, yr nulla officia. Anim letterpress DIY occaecat. Activated VHS umami chia readymade. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<a href="/bands">
  <div class="button">
    See all bands
  </div>
</a>
