<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bands & Songs That Are Great</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
