<h2>All Songs A-Z</h2>

<table>
<% @songs.each do |s|  %>
    <tr>
      <td class="song-list">
        <a href="/songs/<%= s.to_param %>">
          <%= s.name %>
        </a>
      </td>
      <td>
        Band: <a href="/bands/<%= @bands.find_by(id: s.band_id).to_param %>"><%= @bands.find_by(id: s.band_id).name %></a>
      </td>
    </tr>
    <% end %>
</table>
