<h2>All Songs</h2>

<table>
<% @songs.each do |s|  %>
    <tr>
      <td class="song-list">
        <a href="/songs/<%= s.to_param %>">
          <%= s.name %>
        </a>
      </td>
      <td>
        <%= @bands.find_by(id: s.band_id).name %>
      </td>
    </tr>
    <% end %>
</table>
