<h2>Numbers</h2>

<p>The amount is <%= number_to_currency @amount %> </p>
<p>The large amount is <%= number_to_human @large_number %> </p>
<p>Please call <%= number_to_phone @phone, :area_code => true %> </p>
