img{
  width: 260px;
  height: 376px;
  float: left;
}
p,ul{
  margin-left: 300px;
}
.description{
  display:block;
  width: auto;


}
li{
  list-style-type: : none;
  display: inline-block;
  width: 40%;

}
