
<div class="container">

  <h1>Add New</h1>

<form class="" action="/words" method="post">
  Name: <input type="text" name="name" placeholder="Name">
  Image: <input type="text" name="image" placeholder="URL for image">
  Last Words: <textarea name="quote" id="" cols="30" rows="10"></textarea>
  Description of Person: <textarea name="description" rows="8" cols="80"></textarea>
  Died From: <input type="text" name="died_from" placeholder="How did they die?">
  Death Date: <input type="text" name="died" placeholder="e.g 14 May 1969">
  Age at Death: <input type="text" name="death_age" placeholder="Age at time of death">
  <button>Save these Last Words</button>
</form>

</div>
