<h2>planets page</h2>

<% @planets.each do |planet| %>
<p><%= link_to planet.name, planet_path(planet.id) %> has <%=pluralize(planet.moons, 'moon')%></p>
<% end %>

<p><%= link_to planet.name, planet_new_path(planet.id) %></p>
