<h2>Planet input form</h2>

<form class="" action="/planets" method="post">
  Name: <input type="text" placeholder="" name="name" autofocus>
  Image<input type="url" placeholder="" name="image">
  Orbit<input type="number" placeholder="" name="orbit">
  Diameter<input type="number" placeholder="" name="diameter">
  Mass<input type="number" placeholder="" name="mass">
  Moons<input type="number" placeholder="" name="moons">
  <button>Create a new Planet</button>
</form>
