<form class="" action="/users/<%= @id %>/cakes" method="post">
<input type="text" name="name" placeholder="Name of Cake">
<input type="text" name="image" placeholder="Image URL">
<input type="text" name="description" placeholder="Describe the Cake">
<button>Add the yum yum</button>
</form>
