<form class="" action="/cakes/<%= @cake['id'] %>" method="post">
  <input type="text" name="name" value="<%= @cake['name'] %>" >
  <input type="text" name="image" value="<%= @cake['image'] %>" >
  <input type="text" name="description" value="<%= @cake['description'] %>" >
  <button>Save the Cake</button>
</form>
