<form class="" action="/cakes" method="post">
  <input type="text" name="name" placeholder="name" >
  <input type="text" name="image" placeholder="image url" >
  <input type="text" name="description" placeholder="description" >
  <button>Save the Cake</button>
</form>
