<div class="maintitle">
  <img src="https://78.media.tumblr.com/44a5607d4edb3a8958d24cc80a6805bd/tumblr_nnkp7gMeUY1rv0dk6o1_500.gif" alt="Birthday Cake" class="titlecake"> <h1>CAKE EATER</h1> <img src="https://78.media.tumblr.com/44a5607d4edb3a8958d24cc80a6805bd/tumblr_nnkp7gMeUY1rv0dk6o1_500.gif" alt="Birthday Cake" class="titlecake">
</div>
