<form class="" action="/users" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="image" placeholder="Image URL">
  <button>Add User</button>
</form>
