<form class="" action="/users/<%= @user['id'] %>" method="post">
  <input type="text" name="name" value="<%= @user['name'] %>">
  <input type="text" name="username" value="<%= @user['username'] %>">
  <input type="text" name="image" value="<%= @user['image'] %>">
  <button>Save Changes</button>
</form>
