<h2>New butterfly page</h2>

<form action="/butterflies" method="post">
  <input type="text" name="name" placeholder="butterfly name">
  <input type="text" name="family" placeholder="butterfly family">
  <input type="url" name="image" placeholder="http://...">

  <button>Create Butterfly</button>
</form>
