<h2>Add an artist</h2>

<form action="/artists" method="post">
  <input type="text" name="name" placeholder="Artist name">
  <input type="text" name="bio" placeholder="Biography">

  <button>ADD</button>
</form>
