<h1 class="pagetitle">Add Artist</h1>

<form action="/artists" method="post">
  <input class="formstyle" type="text" name="name" placeholder="Artist Name">
  <input class="biofield" type="text" name="bio" placeholder="Biography">

  <button class="buttonstyle">ADD</button>
</form>
