<h1 class="pagetitle"> The Latest 10</h1><br>
<h1 class="stopper">...</h1>

<ul class="indexlist">
  <% @artworks.each do | artwork | %>
  <li>
    <a class="indexitems" href="/artworks/<%= artwork.id %>">
      <%= artwork.name %>
    </a>
  </li>
  <% end %>
</ul>
