<h2>Add an artwork</h2>

<form action="/artworks" method="post">
  <input type="text" name="name" placeholder="Artwork name">
  <input type="text" name="author" placeholder="Artist">
  <input type="text" name="year" placeholder="Year created">
  <input type="text" name="canvas" placeholder="Painted on..">
  <input type="url" name="image" placeholder="Image http://..">

  <button>ADD IT</button>
</form>
