<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ART WORKS.</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <h1>
      <a href="/">ART WORKS.</a>
    </h1>

    <nav>
      <a href="/artworks">All Art</a>
      <a href="/artworks/new">Add Art</a>
      <a href="/artists">See Artists</a>
      <a href="/artists/new">Add Artist</a>
    </nav>

    <footer>
      <p>©2017 Art works. Developed by Samantha Cordingley</p>
    </footer>


    <%= yield %>

  </body>
</html>
