<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ART.</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

<div class= "navcontainer">
    <h1>
      <a href="/">ART.</a>
    </h1>

    <nav>
      <a href="/artworks">Latest 10</a>
      <a href="/artists">The Artists</a>
      <a href="/artworks/new">Add Art</a>
      <a href="/artists/new">Add Artist</a>
    </nav>
  </div>

    <footer>
      <p>©2017 Art. <a href="https://www.instagram.com/sxcordingley/" target="_blank">Developed by Samantha Cordingley</a></p>
    </footer>

    <%= yield %>

  </body>
</html>
