<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ART WORKS.</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <h1>The 10 latest.</h1>

    <%= yield %>

  </body>
</html>
