<h1>HOME PAGE</h1>



<div class="landing crazy">
  <iframe width="800" height="600" src="https://www.youtube.com/embed/kOCF0BLf-BM?rel=0&amp;start=8" frameborder="0" allowfullscreen></iframe>
</div>


<!-- TODO fading in and out welcome message then fade into video ^ -->
<!-- <div class="landing first">
  <h1>You are at the first</h1>
</div>

<div class="landing second">

</div>

<div class="landing third">

</div> -->
