<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>book search</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <h1>Book search</h1>

    <%= yield %>

  </body>
</html>
