<h1>Welcome to Games and stuff and things</h1>

<h2>These are the games you can play:</h2>

<ul>
  <li>
    <a href="/magic-8-ball">Magic 8 Ball</a>
  </li>
  <li>
    <a href="#">Secret Number</a>
  </li>
</ul>
