<h1>ALL OF THE GAMES</h1>

<h2>These are the games you can play:</h2>

<ul>
  <li>
    <a href="/magic-8-ball">Magic 8 Ball</a>
  </li>
  <li>
    <a href="/secret-number">Secret Number</a>
  </li>
  <li>
    <a href="/rps">Rock, Paper, Scissors</a>
  </li>
</ul>
