<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Naruto world</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Naruto World</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/narutos">Figure Index</a>
        <a href="/narutos/new">Add Figure</a>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
