<h2> Add a Figure</h2>
<form  action="/narutos" method="post">

<div class="new">
  <div class="info">
    <input type="text" name="name" placeholder="Name" >
    <input type="text" name="birthday" placeholder="Birthday" >
    <input type="text" name="kekkei_genkai" placeholder="Kekkei Genkai" >
    <input type="text" name="nature_type" placeholder="Nature Type" >
  </div>

    <input class ="long" type="url" name="image" placeholder="http://..." >
    <input class="big" type="text"  name="story" placeholder="story" >
    <button >Create Figure</button>

</div>


</form>
