<div class="container">
  <h1>MAGIC EIGHT BALL</h1>

  <div class="black animation-target">
    <div class="white">
      8
    </div>
  </div>

  <form class="" action="/eightball/results">
    <input type="text" name="question">
    <button>Ask the Magic 8 Ball!</button>
  </form>
</div>
