/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

/*
questions...
- Is it better to do shared characteristics together in one selector
or write out separately for each tag?
- is .container a good method? and then should we put
properties in body or .container?
*/


body {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  color: #999999;
  font-size: 40px;
  font-family: "Times New Roman", serif;
  margin-bottom: 0.3em;
  letter-spacing: 0.35px;
  font-weight: 900;
}

h2, p {
    color: #737373;
    font-family: "Times New Roman", serif;
}

h2 {
  font-size: 18px;
  margin-bottom: 0.7em;
}

h3, a {
  color: #57AECE;
  font-family: "Times New Roman", serif;
}

h3 {
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 0;
  letter-spacing: 0.04em;
}

p {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.049em;
  margin: 0.3em 0 1.75em 0;
}

a {
  text-decoration: none;
}

[src*="press"] {
  padding: 1px;
  border: 4px solid #CCCCCC;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 957px;
    /*margin: 0 auto;*/
    margin: 0;
}

.initial {
  -webkit-flex: 1;
  flex: 1;
}

.flex-midleft {
  -webkit-flex: 1;
  flex: 1;
}

.flex-midright {
  -webkit-flex: 1;
  flex: 1;
}

.flex-right {
  -webkit-flex: 1;
  flex: 1;
}

.last-paragraph {
  margin-bottom: 2em;
}

p:last-of-type {
  margin-top: 0.15em;
  letter-spacing: 0.08em;
}
