<h1>Notable Blues</h1>
<hr>

<div class="item">
  <h2>Eiffel 65 - Blue (Da Ba Dee)</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/68ugkg9RePc?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="item">
  <h2>Blue Man Group</h2>
  <img class="notable" src="https://cbsnews1.cbsistatic.com/hub/i/r/2016/11/19/9f24b33f-2523-41d2-9ae6-080a8d5bb1a5/thumbnail/1200x630/cf3c4ba2d7ecbc921dc3d07a0e809c50/1119-ctm-bluemangroup-web-1183447-640x360.jpg" alt="">
</div>

<div class="item">
  <h2>The Blues</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UOnzDKvn7YI?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="item">
  <h2>Blue (The Boy Band)</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/GFGPSx6cPN0?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
