<form class="" action="/blues" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="hex" placeholder="hex code">
  <input type="text" name="image" placeholder="image url">
  <input type="text" name="rating" placeholder="rating /5">
  <textarea type="text" name="description" placeholder="description" class="descbox"></textarea>
  <button>Save the Blue</button>
</form>
