<div class="container">

<a href="/eightball" class="gamelist">
  <h1>Magic Eight Ball</h1>
</a>
<a href="/secretnumber" class="gamelist">
  <h1>Secret Number</h1>
</a>
<a href="/rockpaperscissors" class="gamelist">
  <h1>Rock Paper Scissors</h1>
</a>

</div>
