<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>English Premier League Database</title>
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Cuprum" rel="stylesheet">
  </head>
  <body>
    <div class="container">

  <nav>
    <!-- <ul> -->
      <!-- <li> --><a href="/">Home</a>
      <a href="/teams">Team Index</a>
      <a href="/players">Player Index</a>
  <!-- </ul> -->
  </nav>

    <%= yield %>

    </div>
  </body>
</html>


<!-- https://i0.wp.com/blog.videobserver.com/wp-content/uploads/2017/01/Chelsea-FC-2.png?resize=750%2C410 -->
