<h2>Add a club</h2>

<form action="/teams" method="post">
  <input type="text" name="name" placeholder="Chelsea Football Club">
  <input type="text" name="stadium" placeholder="Stamford Bridge">
  <input type="text" name="coach" placeholder="Antonio Conte">
  <input type="text" name="logo" placeholder="http://..">

<button>Add club</button>

</form>
