<p>Choose one nubmer from the list</p>
<form action="/games/secret_number/<%= params[:click]%>">
  <select name="click" >
    <%= debug params %>
<% @num.each do |number|%>
<option value="<%= number%>"><%= number%></option>
<% end %>
</select>
<button>Submit</button>
</form>
