* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
}

.container {
  background-color: #e8ff00;
  padding-bottom: 25px;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}

nav ul li {
  display: inline-block;
  color: white;
  padding: 20px;
  height: 56px;
  border: 2px solid black;
}

nav ul li:hover {
  color: #e8ff00;
  border-top: 2px solid #e8ff00;
}

main {
  padding: 0 20px;
  background-color: #e8ff00;
  margin: auto;
}

main h1 {
  padding: 25px 0;
  text-align: center;
  font-size: 28px;
}

main h2 {
  padding: 0 0 1em;
}

main p {
  line-height: 1.3;
  padding: 0 0 1em;
}

main ol {
  padding: 0 40px 1em;
  list-style: decimal;
  line-height: 1.3;
}

main ul {
  padding: 0 40px 1em;
  list-style: disc;
  line-height: 1.3;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext {
  visibility: hidden;
  width: 400px;
  top: 150%;
  left: 50%;
  margin-left: -200px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

main img {
  padding: 0 1em 1em;
}

main iframe {
  display: block;
  margin: auto;
}

.camelia {
  float: right;
  position: relative;
  max-width: 200px;
}

.perl {
  float: left;
  max-width: 200px;
}

.syntax {
  margin: 1em auto 0;
  display: block;
}

footer {
  height: 56px;
}
