
<h2>MAGIC 8 BALL</h2>

<p>Ask me a question...</p>

<form action="/magic8ball/answer">
  <input type="text" name="question" placeholder="What would you like to ask.." size="50" required>
  <button>psychic powers</button>
</form>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/secret_number">Secret Number</a></li>
  <li><a href="/rock_paper_scissors">Rock Paper Scissors</a></li>
</ul>
