
<h2>ROCK PAPER SCISSORS</h2>

<p>Choose rock or paper or scissors...</p>

<form action="/rock_paper_scissors/play">


  <label><input type="radio" name="player" value="rock">rock</label>
  <label><input type="radio" name="player" value="paper">paper</label>
  <label><input type="radio" name="player" value="scissors">scissors</label>

  <button>Play!</button>

</form>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/magic8ball">Magic 8 Ball</a></li>
  <li><a href="/secret_number">Secret Number</a></li>
</ul>
