
<h2>SECRET NUMBER</h2>

<p>Guess a number between 0 and 10..</p>

<form action="/secret_number/guess">
  <input type="integer" name="random_number"
  placeholder="Guess a number between 0 and 10" size="50" required>
  <button>Guess!</button>
</form>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/magic8ball">Magic 8 Ball</a></li>
  <li><a href="/rock_paper_scissors">Rock Paper Scissors</a></li>
</ul>
