<h2>This is the home page.</h2>
<p>Currently no information lives here...</p>

<h2><a href="/parents">Stations</a></h2>
<h2><a href="/children">Children (also stations)</a></h2>

<a class="twitter-timeline"  href="https://twitter.com/hashtag/sydneytrains" data-widget-id="932012005656899584">#sydneytrains Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a class="twitter-timeline"  href="https://twitter.com/hashtag/cityrail" data-widget-id="932087722386132992">#cityrail Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>




<img src="http://www.austay.com/upload/sydney_trains_network_map_1_page___1.jpg">


<form class="" action="/" method="post">
<ul>
  <li>Starting Station : <input type="text" name="start" placeholder="name of starting station"></li>
  <li>Destination Station: <input type="text" name="destination" placeholder="name of destination station"></li>

</ul>

  <button>Click for trip details</button>
</form>
