<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>John's Database of Train Stations</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Spectral+SC" rel="stylesheet">


  </head>
  <body>
    <h1>John's Redonkulous Database</h1>

    <div class="main_container">


      <%= yield %>

    </div> <!-- end main_container -->


  </body>
</html>
