<h2>Enter data for  new PARENT</h2>

<form class="" action="" method="post">

  <input type="text" name="name" value="" placeholder="name">
  <input type="text" name="mapref" value="" placeholder="map reference">
  <input type="text" name="image" value="" placeholder="image">
  <input type="text" name="fav_rest" value="" placeholder="favorite restraiunt">
  <input type="text" name="fav_rest_img" value="" placeholder="image for fav restraunt">
  <button>Click to create a new record</button>
</form>
