<h2>TRIP
  </h2>



<div class="flex_container">
  <h3><%= @string_trip %></h3>

  <iframe width="1200" height="800" frameborder="0" style="border:0" src="<%= @gmapURL1 %>" allowfullscreen="allowfullscreen"></iframe>

</div>




<!--

<div class="flex_container">
  <div class="box forty">

  </div>

  <div class="box forty">

  </div>
</div>

<div class="flex_container">

  <div class="box forty">

  </div>

  <div class="box forty">

      <iframe width="600" height="450" frameborder="0" style="border:0" src="<%= @gmapURL1 %>" allowfullscreen="allowfullscreen"></iframe>

  </div>

</div> -->

<!-- width="600" height="450" -->
    <!-- Google maps API Key = AIzaSyB7nJABK2HEiQKo4V-FCEMWX5xag8vVJeA -->
