<h1 class="pagetitles">Guess the secret number</h1>


<form class="formcontainer" action="/secret/answer">
  <!-- <textarea type="text" name="question" placeholder="Will I die tomorrow?"> -->
  <button class="numberbutton" type="submit" name="guess" value=1>1</button>
  <button class="numberbutton" type="submit" name="guess" value=2>2</button>
  <button class="numberbutton" type="submit" name="guess" value=3>3</button>
  <button class="numberbutton" type="submit" name="guess" value=4>4</button>
  <button class="numberbutton" type="submit" name="guess" value=5>5</button>
  <button class="numberbutton" type="submit" name="guess" value=6>6</button>
  <button class="numberbutton" type="submit" name="guess" value=7>7</button>
  <button class="numberbutton" type="submit" name="guess" value=8>8</button>
  <button class="numberbutton" type="submit" name="guess" value=9>9</button>
  <button class="numberbutton" type="submit" name="guess" value=10>10</button>
</form>
