

<h3>Magic 8 Ball says...</h3>


<div class="ball-container">
  <!-- <%= image_tag "ball_answer_blue.jpg", :class => "screen" %> -->
  <p class="abs-text">"<%= @answer %>"</p>
</div>









<p class="ball-ask-again"><a href="/magic-8-ball">Ask another question</a></p>
<p><a href="/">Back to all games</a></p>
