<h2>Magic 8 Ball</h2>

<p>Think of a question...</p>

<p>Now click the Magic 8 Ball...</p>

<%= link_to image_tag('ball.gif', :class => "round"), '/magic-8-ball/answer', :class => "round" %>
<!-- <a href="/magic-8-ball/answer"><img class="round" src="/assets/ball.gif" alt="Magic 8 Ball"></a> -->


<p class="back"><%= link_to "Back to all games", "/" %></p>
