<h2>Add a planert page...</h2>

<form class="" action="/planets/add" method="post">
  <input type="text" name="name" placeholder="name of new planet">
  <input type="integer" name="radius" placeholder="average distance from the sun in km">
  <input type="integer" name="period" placeholder="period of orbit, in earth days">
  <input type="text" name="image" placeholder="http://link.to/an/image.jpg">

  <button>Another dumb button</button>

</form>
