<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>John's Planets Database</title>
  </head>
  <body>
<div class="container">

  <nav>
    <a href="/planets">List of Planets</a>
    <a href="/planets/add">Add a Planet</a>
  </nav>

  <%= yield %>

</div>


  </body>
</html>
