body {
  /*background-color: pink;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f0a3+0,c3d825+65,dbf043+100 */
background: #e6f0a3; /* Old browsers */
background: -moz-linear-gradient(top, #e6f0a3 0%, #c3d825 65%, #dbf043 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e6f0a3 0%,#c3d825 65%,#dbf043 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e6f0a3 0%,#c3d825 65%,#dbf043 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */
font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: 'Spectral SC', serif;
}
ul {
  list-style: none;
  text-align: left;
}

form {
  height: 100%;
}

form li {
  width: 80%;
  padding-left: 10%;
}
form input {
  float: right;
  padding-right: 3em;
}

button {
  height: 3em;
}

.flex_container
{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  /*background: yellow;*/
  margin: 1em;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f0a3+0,c3d825+65,dbf043+100 */
  background: #e6f0a3; /* Old browsers */
  background: -moz-linear-gradient(left, #e6f0a3 0%, #c3d825 65%, #dbf043 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e6f0a3 0%,#c3d825 65%,#dbf043 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e6f0a3 0%,#c3d825 65%,#dbf043 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=1 ); /* IE6-9 */
  padding: 1em;
  box-shadow: 10px 10px 5px #888888;
}

.box
{
  margin: auto;
  /*border: 2px solid red;*/
  background: rgba(248, 249, 234, 0.8);
  box-shadow: 10px 10px 5px #888888;
  padding: 1em;
  text-align: center;

}

.forty
{
  width: 40%;
    /*height: 50vh;*/
}

.thirty
{
  width: 30%;
    /*height: 50vh;*/
}

.twenty
{
  width: 20%;
    /*height: 50vh;*/
}

.thomas {
  /*height: 500px;*/
}

img {
  max-width:90%;
  /*justify-content: center;*/
  /*margin: auto;*/
  /*border: 1em solid white;*/

}

iframe {
  max-width:100%;

}
