<h2>this is the testing/testing page</h2>


<form class="" action="/testing/testing/a">

  <input type="text" name="num1a" value="" placeholder="enter first number...">
  <input type="text" name="num2a" value="" placeholder="enter second number...">
  <input type="text" name="operatora" value="" placeholder="enter the operator...">
  <button>Button</button>


</form>
