
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  font-family: 'Permanent Marker', cursive;
}

h2 {
  font-size: 50px;
}

nav {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

p {
  font-size: 30px;
  margin: 0 0 0 10px;
  padding: 10px 0;
  width: 300px;
}

.feature {
  max-width: 70vw;
}

img {
  max-width: 60vw;
  display: inline-block;
}
