<h2>new film</h2>

<form action="/films" method="post">
  title: <input type="text" name="title" autofocus>
  year: <input type="number" name="year">
  director: <input type="text" name="director">
  synopsis: <input type="text" name="synopsis">
  language: <input type="text" name="language">
  genre: <input type="text" name="genre">
  image: <input type="url" name="image">
  <button>add new film</button>
</form>
