<h1>CHELSEA FC</h1>

  <div class="menu">
    <a href="/players">Player Index</a>
  </div>

<!-- TO DO
- add flag icon and possibly let user choose flag icons from a drop down box
- add map of player nationalities
- create circular profile pictures for players
- have pictures as icons in player index -->
