<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chelsea Players Database</title>
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Cuprum" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/players">Player Index</a>

    </nav>
    <%= yield %>
    </div>
  </body>
</html>
