<h2> Add a player: </h2>

<form action="/players" method="post">
  <input type="text" name="first_name" placeholder="first name">
  <input type="text" name="last_name" placeholder="last name">
  <input type="text" name="position" placeholder="position">
  <input type="text" name="nationality" placeholder="nationality">
  <input type="text" name="flag" placeholder="Flag icon link">
  <input type="text" name="jersey" placeholder="jersey">
  <input type="text" name="image" placeholder="Player image link">
  <button>Add player<button>
</form>
