/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background-color: #46807d;
 }
a {
  font-size: 30px;
  text-decoration: none;
  margin-left: 20%;
  color: #251313;
  font-style: italic;

}
.nav {
  width: 20%;
  font-size: 20px;
  margin-left: 30px;
}
li {
    list-style-type: none;
}
p {
  text-align: center;
  font-size: 35px;
  font-style: italic;
}
.gameboard {
  max-width: 960px;
  background-color:#8a421f;
  margin:auto;
  height:100vh;
}
form {
  margin-left: 30%;
}
select {
  font-size: 20px;
}
button {
  font-size:20px;
}
