<h2>Add a director</h2>

<form action="/directors" method="post">
  <input type="text" name="name" placeholder="director name">
  <input type="text" name="nationality" placeholder="nationality">
  <input type="text" name="biography" placeholder="brief biography">
  <input type="text" name="filmography" placeholder="brief filmography">
  <input type="text" name="image" placeholder="image">
  <button>Add this director to the database</button>
</form>
