
<div class="filmindex">

  <ul>
    <% @films.each do |film| %>
      <li>
        <a href="/films/<%= film['id'] %>">
          <%= film['title'] %>
        </a>
      </li>
      <% end %>
    </ul>

</div>
