<!-- Books I

Specification

Build a search form that lets the user enter a book title. The Sinatra app will use HTTParty to fetch the data for the chosen book from Google Books and display it on the page. Display the cover, as a bare minimum. -->

<form action='/display'>
  Name of book: <input type="text" name="title" placeholder="Book Title">

  <!-- Author: <input type="text" name="author" placeholder="Author"> -->

  <button>Look up your book</button>
</form>
