<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Book Covers
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Spectral+SC" rel="stylesheet">
  </head>
  <body>
    <h1> Book Covers </h1>
    <%= yield %>
  </body>
</html>
