<h1>new page</h1>

<form class="" action="<%= country_create_path %>" method="post">
  <ul>
    <li>Country Name: <input type="text" name="name" autofocus></li>
    <li>Population:<input type="text" name="population"></li>
    <li>Capital City<input type="text" name="capital"></li>
    <li>World Cup Wins<input type="text" name="cups"></li>
  </ul>
<button>Button</button>




</form>
