<h1>This is the home page!!</h1>

<form action="home.erb">
  Search by title or author:
  <input type="text" name="titleAuthor" placeholder="Saul Bellow">
  Search by ISBN:
  <input type="number" name="isbn" placeholder="9783736813762">
  <button>Search</button>
</form>
