<p class="centred">This portal is powered by:</p>
<p class="centred"><a href="http://www.google.com" target="_blank">Google</a></p>
<p class="centred">&amp;</p>
<p class="centred"><a href="https://github.com/jnunemaker/httparty">HTTParty</a></p>
