<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Info Portal</title>
  </head>

  <body>

    <h1>Book Info Portal</h1>

    <%= yield %>



    <footer>&copy; MM MMXVII</footer>

  </body>
</html>
