<h2>Places to add to list..</h2>

<form action="/travel" method="post"> <!--add confirmation?-->

  <input type="text" name="city" placeholder="city you'd like to visit"> <!-- country first then have option to choose city??? -->
  <input type="text" name="country" placeholder="country you'd like to visit">
  <input type="text" name="image" placeholder="http://...">

  <button>Take me there!!</button>

</form>
