<h2>Places to travel..</h2>

<img class="main"
src="https://i2.wp.com/revuwire.com/wp-content/uploads/2017/04/Travel-Guide-websites-Banner.jpg?fit=768%2C361&ssl=1">

<!-- <img class="main" src="../homepage.jpg"> -->
